# Function Practice Exercises

# WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if
both numbers are even, but returns the greater if one or both numbers are odd


lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 ==0:
        #Both are even
        if a<b:
            result = a
        else:
            result = b
        else:
            if a>b:
            result = a
        else:
            result = b
            return result

SyntaxError: invalid syntax (2968581201.py, line 8)

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

In [3]:
#cleaning the above code and writing a more efficeient code
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        result = min(a,b)
    else:
        result = max(a,b)
        return result

In [4]:
lesser_of_two_evens(2,4)

In [5]:
lesser_of_two_evens(2,5)

5

In [6]:
#a more efficient code
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [7]:
lesser_of_two_evens(2,4)

2

In [8]:
lesser_of_two_evens(2,5)

5

# ANIMAL CRACKERS:
Write a function takes a two-word string and returns True if both
words begin with same letter


animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_cracker(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[1]
    return first[0] == second[0]

In [10]:
animal_cracker('Mausam Mutant')

True

In [11]:
animal_cracker('Tradition man')

False

In [ ]:
#Using double index and comparing without being case seinsitive

In [12]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist [0] [0] == wordlist [0] [1]

In [13]:
animal_cracker('Mausam Mutant')

True

In [14]:
animal_cracker('Tradition man')

False

# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False


makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [15]:
def makes_twenty (n1,n2):
    if n1+n2 ==20:
        return True
    elif n1==20:
        return True
    elif n2==20:
        return True
    else:
        return False

In [16]:
makes_twenty(20,10)

True

In [17]:
makes_twenty(12,8)

True

In [18]:
makes_twenty(2,3)

False

In [19]:
#A more clean code
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [20]:
makes_twenty(2,3)

False

In [21]:
#Practice
def mausam_don(a1,a2):
    return a1+a2 ==10 or a1==10 or a2==10

In [22]:
mausam_don(3,19)

False

In [23]:
mausam_don(10,2)

True

# LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a
name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [24]:
#Using Uppercase
def old_macdonald(name):
    firstltr = name[0]
    #print(firstltr)
    secondltr = name[1:3]
    #print(secondltr)
    fourthltr = name[3]
    print(fourthltr)
    rest = name [4:]
    return firstltr.upper()+secondltr+fourthltr.upper()+rest

In [25]:
old_macdonald('macdonald')

d

'MacDonald'

In [26]:
#Using Capitalize

In [27]:
def old_macdonald(name):
    firstletter = name [:3]
    secondletter = name [3:]
    return firstletter.capitalize() + secondletter.capitalize()

In [28]:
old_macdonald('macdonald')

'MacDonald'

In [29]:
#Practice
def mausam_don(name):
    first = name [:6]
    second = name [6:]
    return first.capitalize() + second.capitalize()

In [30]:
mausam_don('mausamdon')

'MausamDon'

# MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

In [31]:
def master_yoda(text):
    wordlist = text.split()
    reverse = wordlist [::-1]
    return reverse

In [32]:
master_yoda('I am Home')

['Home', 'am', 'I']

In [33]:
master_yoda('ready are we')

['we', 'are', 'ready']

In [34]:
#understanding join method
mylist = ['a','b','c']
'---'.join(mylist)

'a---b---c'

In [35]:
mylist =['mausam','very','hansom']
' is '.join(mylist)

'mausam is very is hansom'

In [36]:
mylist =['mausam','very','hansom']
' is ' 'very' .join(mylist)

'mausam is veryvery is veryhansom'

In [37]:
#Appliying Joining method in string
def master_yoda(text):
    wordlist = text.split()
    reverse = wordlist [::-1]
    return ''.join(reverse)

In [38]:
master_yoda('I am Home')

'HomeamI'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200


almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [39]:
def almost_there(n):
    return (100-n)<=10 or (200 - n)<=10

In [40]:
almost_there(90)

True

In [41]:
almost_there(104)

True

In [42]:
almost_there(150)

True

In [43]:
almost_there(209)

True

In [44]:
#we need yo get abs to write the code correctly to determine if it is within 10 units ab
def almost_there(n):
    return abs(100-n)<=10 or abs(200 - n)<=10

In [45]:
almost_there(209)

True

In [46]:
almost_there(150)

False

In [47]:
almost_there(104)

True

# LEVEL 2 PROBLEMS

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [48]:
def has_33(nums):
    for i in range (0,len(nums),-1):
        if nums [i] ==3 and nums [i+1] ==3:
            return True
        return False

In [49]:
has_33([1, 3, 3])

In [50]:
has_33([1, 3, 1, 3])

In [51]:
has_33([3, 1, 3])

In [52]:
#A less readable but slicker code
def has_33(nums):
    for i in range (0,len(nums)-1):
        if nums [i:i+2] == [3,3]:
            return True
        return False

In [53]:
has_33([1, 3, 3])

False

In [54]:
has_33([1, 3, 1, 3])

False

In [55]:
has_33([3, 1, 3])

False

PAPER DOLL: Given a string, return a string where for every character in the original
there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [60]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [61]:
paper_doll('Hello')

'HHHeeellllllooo'

In [64]:
def paper_doll(text):
    result = ''
    for char in text:
        result+=char*3
    return result

In [66]:
paper_doll('Mausam')

'MMMaaauuusssaaammm'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to
21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum
by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [67]:
def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
 #elif sum([a,b,c])>21 and 11 in [a,b,c]:
    elif 11 in [a,b,c] and sum([a,b,c])-10<=21:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [68]:
blackjack(5,6,7)

18

In [69]:
blackjack(9,9,9)

'BUST'

In [71]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of
numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at
least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [79]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num !=6:
                total +=num
                break 
            else:
                if num !=9:
                    break
                else:
                    add = True
                    break 
                return total

In [80]:
summer_69([1, 3, 5])

In [81]:
summer_69([4, 5, 6, 7, 8, 9])

In [82]:
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains
007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
spy_game([1,0,2,4,0,5,7]) --> True

spy_game([1,7,2,0,4,5,0]) --> False

In [84]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num ==code[0]:
            code.pop(0)
    return len(code) == 1

In [85]:
spy_game([1,2,4,0,0,7,5])

True

In [86]:
spy_game([1,0,2,4,0,5,7])

True

In [87]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist
up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [90]:
def count_primes(num):
    if num <2:
        return 0
    primes = [2]
    x=3
    while x<=num:
        for y in range (3,x,3):
            if x%y ==0:
                x =+2
                break 
        else:
            primes.append(x)
            x += 2
    return len(primes)

In [ ]:
count_primes(100)