In [1]:
#*args

In [4]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [5]:
myfunc(50,50)

5.0

In [6]:
def myfunc(a,b,c=0,d=0):
    return sum((a,b,c,d))*0.05

In [9]:
myfunc(20,20,40,40)

6.0

In [11]:
def myfunc(*args):
    return sum(args)*0.05
myfunc(10,20,40,40,50,60)

11.0

In [13]:
def myfunc(*args):
    for item in args:
        print(item)
myfunc(10,20,30,40,50,60,70)

10
20
30
40
50
60
70

In [18]:
def myfunc(**kwargs):
    print(kwargs)
if 'fruit' in kwargs:
    print('My choice of fruit is {}'.format(kwargs['food']))
else:
    print('I did not find any fruit here')
myfunc(fruit='Apple',food = 'Rice',veggie = 'lettuce')

NameError: name 'kwargs' is not defined

In [ ]:
def myfunc(**kwargs)

In [19]:
def mynewfunc(*args,**kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))
    
mynewfunc(10,20,30,40,food= 'Biryani',fruit='Mango',veggie='potato')

I would like 10 Biryani

In [1]:
#ClassWork on *args & **kwargs

Q1. Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of
those arguments.
Remember, don't run the function, simply provide the definition.

In [12]:
def myfunc(*args):
    return len(args)
myfunc(1,2,3,4,5,6)

6

Q2.Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list
containing only those arguments that are even.
Remember, don't run the function, simply provide the definition

In [2]:
def my_data(*args):
    mylist = []
    for number in args:
        if number%2 ==0:
            mylist.append(number)
        else:
            pass
        return mylist
my_data(1,2,3,4,5,6)

[]

Q3. Define a function called myfunc that takes in a string, and returns a matching string where every even
letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains
letters, and don't worry about numbers, spaces or punctuation. The output string can start with either
an uppercase or lowercase letter, so long as letters alternate throughout the string.