In [20]:
#Ranges

In [21]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [22]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [23]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [25]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [26]:
for num in range(0,11,3):
    print(num)

0
3
6
9

In [27]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [28]:
#Enumerate

In [29]:
index_count =0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [30]:
word ='abcde'
for index, letter in enumerate(word):
    print(index)

0
1
2
3
4

In [31]:
word ='abcde'
for index, letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [32]:
word ='abcde'
for index, letter in enumerate(word):
    print(letter)
    print(index)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [33]:
#zip function

In [34]:
mylist1=['a','b','c']
mylist2=[1,2,3,]
for mylist1,mylist2 in zip(mylist1,mylist2):
    print(mylist1)
    print(mylist2)

a
1
b
2
c
3

In [35]:
mylist1=['a','b','c']
mylist2=[1,2,3,]
for l1,l2 in zip(mylist1,mylist2):
    print(l1)
    print(l2)

a
1
b
2
c
3

In [36]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3 =[11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

('a', 1, 11)
('b', 2, 22)
('c', 3, 33)

In [37]:
mylist=['a','b','c']
mylist2=[1,2,3,4,5,6,7,8,9,]
list(zip(mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [38]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3 =[11,22,33]
for l1,l2,l3 in zip(mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

a
1
11
b
2
22
c
3
33

In [39]:
#in keyword

In [40]:
'x' in [1,2,3]

False

In [41]:
'x' in ['x','y','z']

True

In [42]:
'a' in 'Wonderala'

True

In [43]:
'mykey' in {'mykey':1}

True

In [44]:
d = {'mykey':345}

In [45]:
345 in d.values()

True

In [46]:
345 in d.keys()

False

In [47]:
345 in d.items()

False

In [48]:
#min, max

In [49]:
mylist = [10,20,30,40,50,60]
min(mylist)

10

In [50]:
max(mylist)

60

In [51]:
#Random Library

In [52]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
rd1 = mylist

In [53]:
rd1

[7, 3, 8, 6, 1, 2, 9, 4, 5]

In [54]:
from random import randint
randint(0,10)

6

In [55]:
randint(0,100)

14

In [56]:
my_num = randint(0,50)

In [57]:
my_num

7

In [58]:
#input()

In [59]:
input('Enter the number here')

Enter the number here44

'44'

In [60]:
input('What is mt fav colour?')

What is mt fav colour?55

'55'

In [61]:
int(input('Enter my fav number?'))

Enter my fav number?77

77

In [62]:
Result = int(input('Enter my Fav Number'))

Enter my Fav Number888

In [63]:
Result

888

In [64]:
type(Result)

int

In [65]:
Number=float(input('Enter the 1st number'))
Number_two =float(input('enter the 2nd number'))
result=Number +Number_two
print(result)

Enter the 1st number88
enter the 2nd number88
176.0

In [66]:
type(result)

float

In [67]:
from random import shuffle
mausamlist =[23,34,4,56,78,98,54,34]
shuffle(mausamlist)
rom = mausamlist

In [68]:
rom

[56, 54, 98, 4, 34, 34, 23, 78]

In [69]:
from random import randint
randint(10,100)

82

In [70]:
randint(30,35)

30

In [71]:
#List comprehensions in Python

In [72]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [73]:
mylist

['h', 'e', 'l', 'l', 'o']

In [74]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [75]:
mylist

['h', 'e', 'l', 'l', 'o']

In [76]:
mylists = [x for x in 'april and may']

In [77]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [78]:
mynum = [num**2 for num in range(0,11)]

In [79]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
myeven = [x**2 for x in range(0,11) if x%2 == 0]

In [81]:
myeven

[0, 4, 16, 36, 64, 100]

In [82]:
celcius = [0,10,20,30,50,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [83]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [4]:
celcius = [0,10,20,30,50,34.5]
fahreneit = []
for temp in celcius:
     fahreneit.append((9/5)*temp+32)
print(fahrenheit)

NameError: name 'fahrenheit' is not defined

In [5]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [6]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [3]:
#nested loop

In [ ]:
mylist=[]
for x in [2,4,6]:
for y in [1,10,1000]:
    mylist.append(x*y)

In [ ]:
mylist

In [ ]:
mynest = [x*y for x in [2,4,6] for y in[1,10,1000]]

In [ ]:
mynest